<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540374592855-0hj21lov0qcej4c7rvqie8ii4l2s75m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540374592855-0hj21lov0qcej4c7rvqie8ii4l2s75m4</string>
	<key>API_KEY</key>
	<string>AIzaSyDxo4_H3rBk_o0lRPrc9PZY7dDHPPPdwGA</string>
	<key>GCM_SENDER_ID</key>
	<string>540374592855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enyata.rgproject</string>
	<key>PROJECT_ID</key>
	<string>api-calls-legend-ebe69</string>
	<key>STORAGE_BUCKET</key>
	<string>api-calls-legend-ebe69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540374592855:ios:cb3555f5370d8fc6cb2212</string>
	<key>DATABASE_URL</key>
	<string>https://api-calls-legend-ebe69.firebaseio.com</string>
</dict>
</plist>